<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358435405748-lk6q9m548vh70tfa193gpejfajdm9nii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358435405748-lk6q9m548vh70tfa193gpejfajdm9nii</string>
	<key>API_KEY</key>
	<string>AIzaSyA0MJpnFJQTSuwbWwALhuFoGVhuarPR7a0</string>
	<key>GCM_SENDER_ID</key>
	<string>358435405748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSAMSO.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-ecb38</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-ecb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358435405748:ios:de2dc89333dee318167ce1</string>
</dict>
</plist>