<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445368095998-1qi5aml7g0a4quqrkqn66nftlihah93p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445368095998-1qi5aml7g0a4quqrkqn66nftlihah93p</string>
	<key>API_KEY</key>
	<string>AIzaSyDaeNSGlJ2plGxfXzOVMpzgdANikpDw0qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445368095998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSAMSO.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-f7e79</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-f7e79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445368095998:ios:76fa725cd96a7ca50e81af</string>
</dict>
</plist>